.moviesCard {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  background-color: #fdfdfd;
  border-radius: 6px;
}

.moviesCard__image {
  width: 100%;
  max-height: 203px;

  border-radius: 6px 6px 0px 0px;

  object-fit: cover;
}

.moviesCard__info {
  padding: 16px;
  box-sizing: border-box;
  min-height: 78px;

  display: flex;
  justify-content: space-between;
}

.moviesCard__title {
  margin: 0;

  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.moviesCard__duration {
  margin: 16px 0px 0px;

  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 11px;

  color: #a0a0a0;
}

.moviesCard__like {
  width: 30px;
  height: 15px;

  cursor: pointer;
  
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../../images/like.svg');
  background-color: transparent;

  transition: .3s;
}

.moviesCard__like:hover {
  opacity: .8;
}

.moviesCard__like_liked {
  background-image: url('../../images/liked.svg');
}
